/* Reset some default styling */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style navigation bar */
  #navbar {
    list-style-type: none;
  }
  
  #navbar li {
    display: inline;
    margin: 10px;
  }
  
  #navbar li a {
     text-decoration:none; 
     color:white; 
  }
  
  /* Style hero section */
  #hero-section {
     background-color:black; 
     color:white; 
     padding:50px; 
  }
  
  .btn{
  background-color:#6200ea;
  color:white;
  padding:10px 20px;
  border:none;
  cursor:pointer;
  }
  
  /* Style footer */
  #footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    text-align: center;
  }
  