/* Include Poppins font with various weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* General styling for the body and header */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Use Poppins font as the default */
    background: url('/Assets/Images/Main-BG.png') center/cover fixed; /* Replace 'your-background-image.jpg' with the actual image path or URL */
    position: relative;
}

/* Black overlay with opacity */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    z-index: -1; /* Place the overlay behind other content */
}

header {
    /* background-color: #333; */
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Ensure the header is above the overlay */
}

/* Styling for the logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust the size of the logo as needed */
    height: auto;
    margin-right: 10px;
}

/* Styling for the navigation menu */
nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-weight: 500; /* Set font weight to 500 */
    transition: color 0.3s ease; /* Adding transition for smooth color change */
}

/* Hover effect for the navigation links */
nav a:hover {
    color: green;
}

/* Media query for responsiveness on smaller screens */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Adjustments for the logo on smaller screens */
    .logo {
        margin-bottom: 10px;
    }

    /* Adjustments for the navigation menu on smaller screens */
    nav {
        margin-top: 10px;
    }
}
